@page
@model CoffeeShop.Pages.AddCoffeeModel
@{
}

<partial name="_Notifications" />
<div class="AddForm transition-swipe">
    <form method="post" class="text-center flex-column">
        <label>Pojmenuj si svojí kávu</label><br />
        <input type="text" asp-for="@Model.Coffe.Name" class="coffee-input" /><br />
        <span class="text-danger" asp-validation-for="@Model.Coffe.Name"></span><br />
        <label>Popis kávy</label><br />
        <textarea asp-for="@Model.Coffe.Description" class="coffee-input coffee-input-area"></textarea><br />
        <span class="text-danger" asp-validation-for="@Model.Coffe.Description"></span><br />
        <div class="IngredientAlighner" style="text-align: left;">
            
            <label class="add-label">Mléka:</label><br />
            @for (int i = 0; i < 2; i++)
            {
                    
                <label class="add-container"> @AddCoffeeModel.CoffeIngredients[i].Name
                <input name="CheckedId" value="@AddCoffeeModel.CoffeIngredients[i].Id" type="checkbox" />
                <span class="checkmark"></span>
                </label>
                <br />
            }
            <br />

            <label class="add-label">Šlehačky:</label><br />
            @for (int i = 2; i < 4; i++)
            {
                <label class="add-container"> @AddCoffeeModel.CoffeIngredients[i].Name
                <input name="CheckedId" value="@AddCoffeeModel.CoffeIngredients[i].Id" type="checkbox" />
                <span class="checkmark"></span>
                </label>
                <br />
            }
            <br />

            <label class="add-label">Cukr:</label><br />
            @for (int i = 4; i < 6; i++)
            {
                <label class="add-container"> @AddCoffeeModel.CoffeIngredients[i].Name
                <input name="CheckedId" value="@AddCoffeeModel.CoffeIngredients[i].Id" type="checkbox" />
                <span class="checkmark"></span>
                </label>
                <br />
            }
            <br />

            <label class="add-label">Příchutě:</label><br />
            @for (int i = 6; i < 9; i++)
            {
                <label class="add-container"> @AddCoffeeModel.CoffeIngredients[i].Name
                <input name="CheckedId" value="@AddCoffeeModel.CoffeIngredients[i].Id" type="checkbox" />
                <span class="checkmark"></span>
                </label>
                <br />
            }
            <br />

            <label class="add-label">Navíc:</label><br />
            @for (int i = 9; i < AddCoffeeModel.CoffeIngredients.Count; i++)
            {
                <label class="add-container"> @AddCoffeeModel.CoffeIngredients[i].Name
                <input name="CheckedId" value="@AddCoffeeModel.CoffeIngredients[i].Id" type="checkbox" />
                <span class="checkmark"></span>
                </label>
                <br />
            }
        </div><br />
        <button type="submit" class="submit-coffee">Odeslat</button><br />
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
