@page
@model CoffeeShop.Pages.RateCoffeeModel
@{
}
<partial name="_Notifications" />
<div class="text-center flex-column">
    <div class="flex-row">
        <div>
            <img src="~/Images/JavaCoffe.png" class="bg-dark" />
        </div>
        <div class="rating-text">
            <div class="flex-column">
                <h3>@RateCoffeeModel.Coffee.Name</h3>
            </div>
            <div>
                <h5>
                    Popis: <br />
                    @RateCoffeeModel.Coffee.Description
                </h5>
            </div>
        </div>
    </div><br />

    <form action="https://youtu.be/oHg5SJYRHA0" target="_blank">
        <input type="submit" class="submit-coffee" name="pickCoffee" value="Vybrat kávu" />
    </form>
</div>
<br />

<div class="rate-menu">
    <button class="btn-menu" onclick="ShowIngredients()">Přísady</button>
    <button class="btn-menu" onclick="ShowReview()">Recenze</button>
    <button class="btn-menu" onclick="ShowForm()">Ohodnotit</button>
</div>

<div id="ingredient-box">
    <div class="rating-text">
        <h4>Přísady:</h4>
        <div class="IngredientHolder">
            @for (int i = 0; i < Model.SelectedIng.Count / 3; i++)
            {
                @Model.SelectedIng[i].Name<br />
            }

            @for (int i = 0 + Model.SelectedIng.Count / 3 * 2; i < Model.SelectedIng.Count; i++)
            {
                @Model.SelectedIng[i].Name<br />
            }
            @for (int i = 0 + Model.SelectedIng.Count / 3; i < Model.SelectedIng.Count / 3 * 2; i++)
            {
                @Model.SelectedIng[i].Name<br />
            }
        </div>
    </div>
</div>

<div id="rate-box">
    <div class="rating-text">
        <h4>Ohodnoťte tuto kávu:</h4>

        <form method="post" class="text-center">
            <label>Jméno</label><br />
            <input type="text" asp-for="@Model.Rating.Title" /><br />
            <span class="text-danger" asp-validation-for="@Model.Rating.Title"></span><br />
            <label>Hodnocení</label><br />
            <textarea asp-for="@Model.Rating.Description"></textarea><br />
            <span class="text-danger" asp-validation-for="@Model.Rating.Description"></span><br />
            <label>Bodové ohodnocení (0-10)</label><br />
            <input type="number" asp-for="@Model.Rating.Points" /><br />
            <span class="text-danger" asp-validation-for="@Model.Rating.Points"></span><br />
            <input type="submit" class="submit-coffee" /><br />
        </form>
    </div>
</div>

<div id="review-box">
    @if (Model.IndexRatings.Count > 0)
    {
        <div class="rating-text">
            <h4>Recenze:</h4>
        </div>
    }
    <div class="flex-column">
        @foreach (var item in Model.IndexRatings)
        {
            <div class="Rating">
                <p>
                    @item.Title <br />
                    @item.Description
                </p>
                <p>Bodové ohodnocení: @item.Points/10</p>


            </div>
        }
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}


